* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color: rgb(3,0,31);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.app{
  min-height: 100vh;
  display: flex;
}
.slider{
  flex: 3;
  border-right: 1px solid rgb(100,100,100);
}
.main{
  flex: 9;
}
.logo{
  margin-right: 1rem;
}
.brand{
  font-size: 2rem;
}
.upper{
  padding: 3rem;
  border-bottom: 1px solid rgb(100,100,100);
  height: 70%;
}
.uppersidelogo{
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  
}
.midbtn{
  background-color: #5A4BFF;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 25rem;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.addbtn{
  height: 2rem;
  margin-right: 1rem;
}
.query{
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  color: white;
  border: 1px solid rgba(98,98,98,1);
  cursor: pointer;
}
.qu{
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}
.lower{
  padding: 2rem;
}
.listitem{
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.listimg{
  margin: 1rem;
  padding-right: 1rem;
  
}
#home{
  margin-right: 0.5rem;
}
#upg{
  margin-right: 0.75rem;
}
.main{
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
}
.chatbox{
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}
.inputbox{
  padding: 0.5rem;
  background-color: rgba(28,30,51,1);
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  width: 75rem;
}
#sender{
  width: calc(100vh - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
  background-color: transparent;
  border: none;
  
}

.send{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 75rem;
   scrollbar-width: none;
   height: calc(100vh - 14rem);
}
.chat{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  background-color: rgb(68,107,68);
  border-radius: 0.75rem;
}
.chatimg{
  object-fit: cover;
  width: 4rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  
}
.chat-bot{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  background-color: rgba(28,30,58,1);
  border-radius: 0.75rem;
}
.chatimg{
  height: 5rem;
}
.botimg{
  object-fit: cover;
  width: 4rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.mic{
  height: 30px;
  margin-right: 1rem;
}